:root {
	--background: rgb(255, 255, 255);
	--white: rgb(255, 255, 255);
	--foreground: rgb(8, 12, 23);
	--text: rgb(255, 255, 255);
	--secondary: rgb(241, 245, 249);
	--danger: rgb(239, 68, 68);
	--border: rgb(226, 232, 240);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main {
	flex-grow: 1;
	width: 100%;
	max-width: 800px;
	padding: 24px;

	margin: 32px 0px;

	display: flex;
	justify-content: center;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
}

.loading {
	width: 48px;
	height: 48px;
	border: 5px solid black;
	border-color: transparent black black black;
	animation: rotation 1s ease infinite;
	border-radius: 50%;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
