.header {
	width: 100%;
	background-color: var(--foreground);
	color: var(--text);

	display: flex;
	justify-content: center;
	padding: 20px;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-weight: bold;
	font-size: 1.3rem;
	display: flex;
	align-items: center;
	gap: 8px;
}

.list {
	display: flex;
	list-style: none;
	gap: 24px;
}

.link {
	padding: 8px;
	transition: all 0.15s ease;
	font-size: 1.05rem;
	font-weight: 500;

	&:hover {
		background-color: var(--background);
		color: var(--foreground);
		border-radius: 4px;
	}
}

@media screen and (max-width: 600px) {
	.logo_text {
		display: none;
	}
  
  .list {
    gap: 12px;
  }
}
