.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.container_list {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.list {
	display: flex;
	flex-direction: column;
	gap: 8px;
	list-style: none;
	width: 100%;
}
