.task {
	background-color: var(--secondary);
	padding: 8px;
	width: 100%;
	border-radius: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.intro {
  display: flex;
  gap: 8px;
}

.input {
  width: 16px;
}

.container_buttons {
	display: flex;
	gap: 8px;
}
