.task {
	background-color: var(--secondary);
	padding: 8px;
	width: 100%;
	border-radius: 4px;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 1px solid var(--border);

	border-left: 5px solid var(--foreground);
}

.task.completed {
	border-left-color: rgb(0, 207, 41);
	opacity: 0.7;
}

.intro {
	display: flex;
	align-items: center;
	gap: 8px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.input {
	width: 16px;
	height: 16px;
}

.input,
.label {
	cursor: pointer;
}

.container_buttons {
	display: flex;
	gap: 8px;
}

.pending {
	opacity: 0.75;
}
